* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}

.header {
    background: #222222;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__search {
    margin-left: 41px;
}

.header__right img:not(:last-child) {
    margin-right: 33px;
}

.promo {
    background: #F1E4E6;
    display: flex;
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);
}

.promo__img {
    width: 50%;
    display: flex;
}

.promo__photo {
    width: 100%;
}

.promo__text {
    width: 50%;
}

.promo__content {
    margin-top: 40%;
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
}

.promo__heading {
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #222222;
}

.promo__info {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;

    color: #222222;
}

.select {
    color: #F16D7F;
}

.sale {
    padding-top: 64px;
    padding-bottom: 96px;
}

.sale__top {
    display: flex;
    padding-bottom: 30px;
}

.sale__img {
    width: 100%;
}

.sale__item {
    position: relative;
}

.sale__text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sale__item:not(:last-child) {
    margin-right: 30px;
}

.sale__p {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.sale__heading {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-align: center;

    color: #F16D7F;
}

.center__text {
    text-align: center;
}

.featured__block {
    padding-top: 97px;
    position: relative;
}

.featured__title {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
}

.featured__description {
    padding-top: 6px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
}

.featured__item {
    width: 360px;
    background: #F8F8F8;
    border: #222222;
    margin-bottom: 30px;
}

.featured__item>img:hover {
    filter: brightness(25%);
}

.featured__item__title {
    padding-left: 18px;
    padding-bottom: 12.65px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}

.featured__item_description {
    padding-left: 18px;
    padding-bottom: 18px;
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
}

.featured__item__price {
    padding-left: 18.41px;
    padding-bottom: 20px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
}

.featured__list {
    padding-top: 48px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.browse__all__button {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    text-align: center;
    margin-top: 18.5px;
    padding-top: 14.5px;
    padding-bottom: 13.5px;
    border: 1px solid #FF6A6A;
    width: 211px;
    margin-left: 465px
}

.browse__all__button:hover {
    background-color: #F26376;
    color: #FFFFFF;
}

.services {
    height: 341px;
    background: #222224;
    display: flex;
    justify-content: space-around;
}

.service__item {
    width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.subscribe {
    height: 448px;
    background-image: url("../imgs/subscribe__background.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    display: flex;
    justify-content: space-between;
}

.footer {
    height: 74px;
    background: #222224;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.all__rights {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
}

.social__list {
    display: flex;
}

.service__title {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
    text-align: center;
    padding-bottom: 16px;
}

.service__desription {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
    text-align: center;
}

.service__img {
    margin-left: auto;
    margin-right: auto; 
    padding-bottom: 28px;
}

.subscribe__info {
    width: 557px;
}

.subscribe__avatar {
    position: relative;
}

.subscribe__avatar>img {
    position: absolute;
    padding-top: 57px;
    position: absolute;
    top: 50%;
    left: 50%;
}

.subscribe__mail {
    width: 356px;
}

.subscribe__description {
    margin-left: auto;
    margin-right: auto;
    width: 360px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
}

.subscribe__title {
    padding-top: 150px;
    margin-left: auto;
    margin-right: auto;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 167.2%;
    text-align: center;
    color: #222224;
}

.subscribe__subtitle {
    text-align: center;
}

.mail__input>input{
    margin-left: auto;
    margin-right: auto;
    width: 256px;
    background: #E1E1E1;
    border-radius: 24px 0 0 24px;
    height: 49px;
    outline: none;
    font-family: Lato;
    font-size: 14px;
    line-height: 17px;
    color: #222224;
    opacity: 0.67;
    border: none;
    padding-left: 22px;
    margin-top: 27px;
}

.mail__input>button{
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    background: #F16D7F;
    height: 49px;
    border-radius: 0 24px 24px 0;
    outline: none;
    font-family: Lato;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    border: none;
}